html{
  --bs-success-rgb:80, 200, 120 !important;
  --bs-success-rgb:64, 182, 103 !important;
  --bs-btn-bg: var(--bs-success-rgb) !important;

  --bs-primary-rgb: 80, 200, 120 !important;

}
:root {
  /* The solid hex color */
  --bs-primary: #50C878; 
  --bs-primary-rgb: 80, 200, 120 !important;
  /* The raw RGB values used for translucent utilities */
  /* --bs-primary-rgb: 255, 87, 51;  */
  
  /* Subtle variations added in v5.3 for alerts and states */
  /* --bs-primary-bg-subtle: #ffebe6;
  --bs-primary-border-subtle: #ffc2b3;
  --bs-primary-text-emphasis: #99240c; */
}
.btn-success{
  background-color: RGBA(var(--bs-success-rgb),var(--bs-bg-opacity,1)) !important;
  border-color: RGBA(var(--bs-success-rgb),var(--bs-bg-opacity,1)) !important;
}
/* Landing page  */
.product-catalogue-service-card{
    background-image: url('./images/designs/catalogues/textiles-ecommerce.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

/* button animation */
/* Add transition to the base element for smooth animation */
.hover-scale-up {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Define the changes on hover state */
.hover-scale-up:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; /* Matches Bootstrap .shadow-lg */
}

@media(min-width: 992px) {
  .lg-text-bg-danger {
    color: #fff !important;
    background-color: RGBA(var(--bs-danger-rgb),var(--bs-bg-opacity,1)) !important;
  }
  .lg-text-bg-success {
    color: #fff !important;
    background-color: RGBA(var(--bs-success-rgb),var(--bs-bg-opacity,1)) !important;
  }
}
