/* Landing page  */
.product-catalogue-service-card{
    background-image: url('./images/designs/catalogues/textiles-ecommerce.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

/* button animation */
/* Add transition to the base element for smooth animation */
.hover-scale-up {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Define the changes on hover state */
.hover-scale-up:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; /* Matches Bootstrap .shadow-lg */
}

@media(min-width: 992px) {
  .lg-text-bg-danger {
    color: #fff !important;
    background-color: RGBA(var(--bs-danger-rgb),var(--bs-bg-opacity,1)) !important;
  }
}
